In [59]:
import pandas as pd
import numpy as np

In [60]:
school_data_to_file = "Resources/schools_complete.csv"
student_data_to_file = "Resources/students_complete.csv"

In [61]:
school_data = pd.read_csv(school_data_to_file)
student_data = pd.read_csv(student_data_to_file)

In [62]:
school_data_complete_df = pd.merge(student_data, school_data, 
                                   how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [63]:
total_schools = school_data_complete_df['school_name'].unique()
print(len(total_schools))

total_students = school_data_complete_df['school_name'].count()
print(total_students)

total_budget = school_data['budget'].sum()
print(f'${total_budget}')

average_math = school_data_complete_df['math_score'].mean()
print(average_math)

average_reading = school_data_complete_df['reading_score'].mean()
print(average_reading)

passing_math = school_data_complete_df[(school_data_complete_df['math_score']>=70)].count()['student_name']
passing_math_perc = (passing_math*100)/total_students
print(passing_math_perc)

passing_reading = school_data_complete_df[(school_data_complete_df['reading_score']>=70)].count()['student_name']
passing_reading_perc = (passing_reading*100)/total_students
print(passing_reading_perc)

overall_passing = school_data_complete_df[(school_data_complete_df['reading_score']>=70) & 
                                          (school_data_complete_df['math_score']>=70)].count()['student_name']
overall_passing_perc = (overall_passing*100)/total_students
print(overall_passing_perc)

15
39170
$24649428
78.98537145774827
81.87784018381414
74.9808526933878
85.80546336482001
65.17232575950983

In [64]:
district_summary = {'Total schools': [len(total_schools)], 'Total students': [total_students], 
                     'Total budget': [total_budget], 'Average math score': [average_math], 
                     'Average reading score': [average_reading], '% Passing math': [passing_math_perc], 
                     '% Passing reading': [passing_reading_perc], '% Overall passing': [overall_passing_perc]}
district_summary_df = pd.DataFrame(district_summary)
print(df)

   Total schools  Total students  Total budget  Average math score  \
0             15           39170      24649428           78.985371

   Average reading score  % Passing math  % Passing reading  % Overall passing
0               81.87784       74.980853          85.805463          65.172326

In [65]:
#school_summary = school_data_complete_df.loc[(school_data_complete_df['type']) & (school_data_complete_df['size']) &
                                             #(school_data_complete_df['budget']) & (school_data_complete_df['budget']/school_data_complete_df['size']) ]


school_type = school_data_complete_df['type']
total_students = school_data_complete_df['size']
school_budget = school_data_complete_df['budget']
student_budget = school_data_complete_df['budget']/school_data_complete_df['size']
avg_math_score = school_data_complete_df['math_score'].mean()
avg_reading_score = school_data_complete_df['reading_score'].mean()
passing_math = passing_math_perc
passing_reading = passing_reading_perc
overall_passing = overall_passing_perc

In [69]:
school_summary = {'School type': [school_type],'Total students': [total_students], 'Total school budget': [school_budget], 
                  'Per student budget': [student_budget], 'Average math score': [avg_math_score],
                  'Average reading score': [avg_reading_score], '% Passing math': [passing_math],
                  '% Passing reading': [passing_reading], '% Overall passing': [overall_passing]}

school_summary = school_data_complete_df.set_index('school_name').unique()
school_summary = pd.DataFrame(school_summary)

print(school_summary)

AttributeError: 'DataFrame' object has no attribute 'unique'